!!!
html
  head
    title= title
    != css('application')
  body
    .main-content
      .container
        h1(class='title') Node Chat Demo
        != body
    .footer
      .container Node Chat Demo
    script(src='/socket.io/socket.io.js', type='text/javascript')
    != js('application')